---
import PostPreviewCard from './PostPreviewCard.astro'
import routes from '../consts/routes'
import Icon from './Icon.astro'

const { posts, pageNumber = 1, prevPageUrl = null, nextPageUrl = null, lastPage = 1 } = Astro.props
---

<div class='list-container'>
  <div class='previews-grid'>
    {
      posts.map((post: any) => (
        <PostPreviewCard
          url={`${routes.postRoute}${post.slug}`}
          title={post.data.title}
          subtitle={post.data.subtitle}
          icon={post.data.icon}
        />
      ))
    }
  </div>
  {
    lastPage > 1 ? (
      <div class={'pagination-controls-container'}>
        <div style={{ display: 'flex' }}>
          {prevPageUrl ? (
            <a aria-label={'Prev'} class='app-button' href={prevPageUrl}>
              <Icon icon={'arrow'} />
            </a>
          ) : (
            <div />
          )}
          <p class={'page-index'}>{`${pageNumber}/${lastPage}`}</p>
          {nextPageUrl ? (
            <a aria-label={'Next'} class='app-button' href={nextPageUrl}>
              {/**  @ts-expect-error TODO fix TS */}
              <Icon icon={'arrow'} class={'arrow-right'} />
            </a>
          ) : (
            <div />
          )}
        </div>
      </div>
    ) : (
      <div class='empty-nav-container' />
    )
  }
</div>

<style lang='scss'>
  @import '../styles/config';
  @import '../styles/shared-mixins';

  .list-container {
    min-height: 720px;
  }

  .previews-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 0.5rem;

    @media (min-width: $breakpoint-lg) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  .empty-nav-container {
    height: 3rem;
  }

  .pagination-controls-container {
    display: flex;
    flex: 1 1 100%;
    align-items: flex-end;
    justify-content: center;
    justify-self: flex-end;
    padding: 24px 0px;
  }

  .arrow-right {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .page-index {
    @include normal-mono;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    padding: 0px 34px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
