---
import { Image } from 'astro:assets'

const { urls, alt, caption } = Astro.props
---

<div class='image-container'>
  {urls[0] && <Image id={`zoomable0`} class={'zoomable-image'} src={urls[0]} alt={alt} />}
  {urls[1] && <Image id={`zoomable1`} class={'zoomable-image'} src={urls[1]} alt={alt} />}
  {urls[2] && <Image id={`zoomable2`} class={'zoomable-image'} src={urls[2]} alt={alt} />}
  {!!caption && <figcaption class='image-caption'>{caption}</figcaption>}
</div>

<style lang='scss'>
  @import '../styles/config';
  @import '../styles/shared-mixins';

  .image-container {
    padding: 1rem 0px;

    @media (min-width: $breakpoint-lg) {
      padding: 1.5rem 4rem;
      display: flex;
      justify-content: space-between;
    }
  }

  .image-caption {
    @include normal-mono;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 0.8rem;
    color: $figcaption-color;
  }

  .zoomable-image {
    max-height: 20rem;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
</style>

<script>
  import mediumZoom from 'medium-zoom'
  mediumZoom(`#zoomable0`)
  mediumZoom(`#zoomable1`)
  mediumZoom(`#zoomable2`)
</script>
